<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./components/Heading') %>
        <title>Blog</title>
    </head>
<body>
    <%- include('./components/NavBar') %>
    <div class="flex flex-row">
        <div class="w-[25%] px-[2%] bg-primary-mid">

        </div>
        <div class="w-[75%] px-[5%] min-h-[87.8vh] bg-white gap-[10px] flex-col flex">
            <%- include('./components/BlogCard') %>
            <%- include('./components/BlogCard') %>
            <%- include('./components/BlogCard') %>
            <%- include('./components/BlogCard') %>
            <%- include('./components/BlogCard') %>
        </div>
    </div>
</body>
</html>